extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us
        p Alexandria West is from Cedar Creek, Texas. Woz U has helped her build a full function application from scratch. She discovered Woz U, when looking online to find a great school to help her start her career and her future. Last but not least, she loves to eat tacos and code at the same time.
        p Ashleigh Sanchez resides in El Mirage, Arizona. Her passion for coding goes way back to the Myspace days. Since then, her passion and interest for Software Development led her to the Woz U program. Woz U has helped Ashleigh establish what she truly loves to do and her destined career path.

        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Get Started for FREE
