extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Contact Us
        p <a class="a.btn.btn-primary" href="https://www.linkedin.com/in/ashleigh-sanchez-007319a8/">Connect With Ashleigh</a>
        p   <a class="a.btn.btn-primary" href="https://www.linkedin.com/in/alexandria-west-374100150/">Connect With Alexandria</a>
