extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Come &amp; Join us
    p.lead Communction is the best way to achieve your goals!
    a.btn.btn-info-outline.btn-lg(href='/register') Get Started for FREE
